<ion-content>
  <swiper-container effect="flip" pager="true" #swiper
  (afterinit)="swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true"
  >
    <swiper-slide class="topRight">
      <div class="imagen-container">
        <img src="assets/img/light-blue-bg.jpg" alt="Imangen fondo azul">
      </div>
      <ion-button class="custom-start-button" fill="outline" shape="round" color="danger" (click)="goToLogin()">
        <ion-text color="dark">Let's Start</ion-text>
      </ion-button>
    </swiper-slide>
    <swiper-slide>
      <div class="imagen-container">
        <img src="assets/img/blue-bg.jpg" alt="Imagen de fondo celeste">
      </div>
      <ion-button class="custom-start-button" fill="outline" shape="round" color="danger" (click)="goToLogin()">
        <ion-text color="dark">Let's Start</ion-text>
      </ion-button>
    </swiper-slide>
    <swiper-slide>
      <div class="imagen-container">
        <img src="assets/img/pink-bg.jpg" alt="imagen de fondo rosa">
      </div>
      <ion-button class="custom-start-button" fill="outline" shape="round" color="danger" (click)="goToLogin()">
        <ion-text color="dark">Let's Start</ion-text>
      </ion-button>
    </swiper-slide>
    <ion-button class="custom-start-button" fill="outline" shape="round" color="danger" (click)="goToLogin()">
      <ion-text color="dark">Let's Start</ion-text>
    </ion-button>

  </swiper-container>
</ion-content>
