<ion-content [fullscreen]="true">
  <div align="center">
    <img src="assets/img/logo.png" alt="">
  </div>

  <ion-list class="ion-margin">

    <div class="ion-margin">
      <ion-segment mode="ios" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="1">
          <ion-label>Log-in</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Sign-up</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <app-sign-in *ngIf="segmentValue === '1'"></app-sign-in>
    <app-sign-up *ngIf="segmentValue === '2'"></app-sign-up>

  </ion-list>
</ion-content>
